<div style="display: flex; flex-grow: 1; min-height: 73vh;">
  <div class="container">
    <h2>Administration Panel</h2>

    <div class="row justify-content-center">

      <a routerLink="/cars" href="" class="col-md-5">
        <div class="card">
          <div class="card bg-dark border-warning">
            <img src="../../../assets/img/cars.png" class="img-fluid" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title">Show Cars</h5>
            </div>
          </div>
        </div>
      </a>

      <a routerLink="/admin-dashboard/car-add" href="" class="col-md-5">
        <div class="card">
          <div class="card bg-dark border-warning">
            <img src="../../../assets/img/carAdd.png" class="img-fluid" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title">Add Car</h5>
            </div>
          </div>
        </div>
      </a>

    </div>

    <div class="row justify-content-center">

      <a routerLink="/admin-dashboard/users-management" href="" class="col-md-5">
        <div class="card">
          <div class="card bg-dark border-warning">
            <img src="assets/img/customers.jpg" class="img-fluid" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title">Customers summary</h5>
            </div>
          </div>
        </div>
      </a>

      <a routerLink="/admin-dashboard/operations-car" href="" class="col-md-5">
        <div class="card">
          <div class="card bg-dark border-warning">
            <img src="assets/img/rental.jpg" class="img-fluid" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title">Rentals & Buys</h5>
            </div>
          </div>
        </div>
      </a>

    </div>

    <div class="row justify-content-center">
      <a routerLink="/admin-dashboard/statistics" href="" class="col-md-5">
        <div class="card">
          <div class="card bg-dark border-warning">
            <img src="assets/img/stats.jpg" class="img-fluid" alt="Responsive image">
            <div class="card-body">
              <h5 class="card-title">Current month statistics</h5>
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
