.container {
  min-height: 70vh;
}

h2 {
  font-weight: bold;
}

.comp {
  background-color: #eee;
  padding-bottom: 30px;
  width: 30%;
  margin: 50px auto 0;
}

.lostPasswordForm {
  width: 350px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  padding-top: 40px;
}

.error{
  padding: 5px 0;
  color: red;
  font-weight: 600;
}
