<div class="container">
  <div class="comp">
    <h2>Reset password</h2>
    <form *ngIf="!hash" [formGroup]="formGroup" fxLayout="column" (submit)="send()"
          class="lostPasswordForm">
      <div *ngIf="formError" class="error">{{formError}}</div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="username" placeholder="Enter your email address">
      </mat-form-field>
      <button mat-flat-button color="primary">Send</button>
    </form>

    <form *ngIf="hash" [formGroup]="formGroupChangePassword"
          fxLayout="column" (submit)="sendChangePassword()"
          class="lostPasswordForm">

      <mat-form-field appearance="fill">
        <mat-label>New password</mat-label>
        <input type="password" matInput formControlName="password"
               placeholder="Enter new password">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Repeat new password</mat-label>
        <input type="password" matInput
               formControlName="repeatPassword"
               placeholder="Repeat new password">
      </mat-form-field>
      <div *ngIf="formChangePasswordError"
           class="error">{{formChangePasswordError}}</div>
      <button mat-flat-button color="primary">Send</button>
    </form>
  </div>

</div>
