
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$komis-frontend-project-primary: mat.define-palette(mat.$indigo-palette);
$komis-frontend-project-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$komis-frontend-project-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$komis-frontend-project-theme: mat.define-light-theme((
  color: (
    primary: $komis-frontend-project-primary,
    accent: $komis-frontend-project-accent,
    warn: $komis-frontend-project-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($komis-frontend-project-theme);

/* You can add global styles to this file, and also import other style files */



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #bebec5;
}

.success-snackbar {
  background: rgb(25, 96, 54);
  color: white;
  height: 50px;
  margin: 0 !important;
  position: absolute;
  top: 100px;
}

.success-snackbar button {
  background-color: rgb(65, 252, 134);
  color: white;
  border: none;
}

.failed-snackbar {
  background: #F44336;
  color: white;
  font-size: 30px;
  height: 50px;
  margin: 0 !important;
  position: absolute;
  top: 100px;
}

.failed-snackbar button {
  background-color: #F44336;
  color: white !important;
  border: none;
}

.confirm-dialog-container .mat-dialog-container {
  border-radius: .25em .25em .4em .4em;
  padding: 0;
}

.confirm-dialog-container .content-container {
  margin: 5px 5px 15px 5px;
  color: #8f9cb5;
  display: flex;
}

.confirm-dialog-container .close-icon {
  margin-left: auto;
  order: 2;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}

.confirm-dialog-container .no-button {
  height: 50px;
  width: 50%;
  background-color: #fc7169;
  color: white;
  border-radius: 0;
}

.confirm-dialog-container .yes-button {
  height: 50px;
  width: 50%;
  background-color: #47a864;
  color: white;
  border-radius: 0;
}

.confirm-dialog-container .content-span {
  padding: 20px 5px;
  text-align: center;
  align-items: center;
  font-size: 20px;
  color: black;
}

.mat-paginator-container{
  font-size: 16px;
}

