.container {
  min-width: 830px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.upload {
  background-color: #8f9cb5;
  margin-top: 60px;
  width: 80%;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.leftPanel,
.rightPanel {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.leftPanel {
  padding-left: 50px;
  padding-right: 30px;
}

.options {
  width: 42%;
  display: inline-block;

}

.button {
  text-align: center;
}

button {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

select {
  width: 140px;
}

label {
  padding-top: 15px;
  color: #c0e3f6;
}

input, textarea {
  width: 300px;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

#content{
  background-color: #333334;
  border:1px solid #f0ad4e;
  border-radius: 20px;
}

form{
  padding: 20px;
}
.form-control:focus{
  border : 2px solid #f0ad4e;
}
